.nav-container {
    display: flex;
    gap: 15px; 
    white-space: nowrap; 
    overflow-x: auto;
    padding: 10px;
    font-family: Garamond, serif;
    color: #2D336B;
}

body{
    font-family: Garamond, serif;
    color: #FFF2F2;
}